{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "babel-plugin-import",
      {
        "libraryName": "@patternfly/react-icons",
        // Use "'libraryDirectory': ''," if your bundler does not support ES modules
        "libraryDirectory": "dist/js/icons",
        "camel2DashComponentName": true
      },
      "react-icons"
    ]
  ]
}
